body, button, input, textarea {
  font-family: 'Poppins', sans-serif;
}

.gradient-background {
  background-color: #E6F2F4; /* Solid color fallback */
  background-image: linear-gradient(
    to bottom right,
    #E6F2F4, /* Light blue */
    #cff1d4  /* Vibrant green */
  );
  min-height: 100vh;
}

/* Removed all card related styles from app.css to avoid conflicts */
/* The .card related styles should be exclusively in itemCard.css */

/* Other styles */
.motto, .login-text, .email-box, .password-box, .text-align {
  text-align: center;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  line-height: 1.25;
}

.material-icons {
  font-size: 1.2em;
  margin-right: 5px;
  vertical-align: middle;
}

/* It's important to ensure no other conflicting styles are being applied to cards elsewhere in your stylesheets */
